bin/Debug/net8.0/TesteTecnico.dll
obj/Debug/net8.0/refint/TesteTecnico.dll
obj/Debug/net8.0/ref/TesteTecnico.dll
obj/Debug/net8.0/TesteTecnico.sourcelink.json
obj/Debug/net8.0/TesteTecnico.pdb
obj/Debug/net8.0/TesteTecnico.dll
obj/Debug/net8.0/TesteTecnico.csproj.FileListAbsolute.txt
obj/Debug/net8.0/TesteTecnico.AssemblyInfoInputs.cache
obj/Debug/net8.0/TesteTecnico.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
bin/Debug/net8.0/TesteTecnico.pdb
bin/Debug/net8.0/TesteTecnico.exe
bin/Debug/net8.0/TesteTecnico.dll
